body {
    margin: 0px;
}

#menu {
    display: none;        
}

header {
    background-image: url("rock-music.jpg");
    background-size: cover;
    height: 40vh;
    color: white;
    font-size: 60px;
}

#overlay {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    height: 40vh;
    width: 100%;
}
article {
    height: calc(100% - 50px);
    display:flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    height: 50px;
    width: 100vw;
    justify-content: space-around;
    position: relative;
    z-index: 2;
}


.flex-item {
    background-color: rgba(25, 25, 112, 0.6);
    padding: 5px 20px;
    border: 3px solid white;
    border-radius: 40px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 20px;
}

section {
    height: 1500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#contenuto1 {
    height: 300px;
    width: 300px;
    background-image: url("cover1.jpg");
    background-size: cover;
}

#contenuto2 {
    height: 300px;
    width: 300px;
    background-image: url("cover2.jpg");
    background-size: cover;
}

#contenuto3 {
    height: 300px;
    width: 300px;
    background-image: url("cover3.jpg");
    background-size: cover;
}

#contenuto4 {
    height: 300px;
    width: 300px;
    background-image: url("cover4.jpg");
    background-size: cover;
}

footer {
    position: relative;
    bottom: 0;
    background-color: grey;
    text-align: center;
}

@media (max-width: 450px) {
    .flex-item {
        display: none;
    }
    #menu {
        display: block;
    }

    #menu div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
    }
        

}